/* general styling */

/*
Palette:
section backgrounds: #ffb7ad (pink)
button hover: #f39f00 (orange)
clicked links: #02d16f (green)
link colour, shadows: #4bbbc3 (teal)
paragraph text: #000 (black)
headers, buttons: #fff (white)
*/

body {
   background-color: #D0D0D4;
}

p, ul, dl, ol {
   color: #000;
   font-family: Helvetica, sans-serif;
}

a p, a h1,
a h2, a h3,
a h4, a h5,
a h6 {
   text-decoration: none;
}

dt, dd {
   padding-left: 1rem;
   padding-bottom: 0.2rem;
}

dd {
   font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
   font-family: "Courier New", monospace;
   color: #FFF;
   text-align: center;
}

h1, h2 {
   font-size: +2.5rem;
}

h3, h4 {
   font-size: +2rem;
}

h5, h6 {
   font-size: +1.5rem;
}

header {
   background-color: #ffb7ad;
}

section {
   background-color: #ffb7ad;
   box-shadow: 3px 3px #4bbbc3;
   padding: 0.5rem;
}

aside {
   color: #000;
   background-color: #ffb7ad;
   font-family: Helvetica, sans-serif;
}

a {
   color: #4bbbc3;
   font-family: Helvetica, sans-serif;
}

a:visited {
   color: #02d16f;
}

/* header setup */

header {
   width: 86%;
   margin-right: 7%;
   margin-left: 7%;
   padding: 0.5rem;
   box-shadow: 3px 3px #4bbbc3;
}

.title {
   display: grid;
   grid-template-columns: 30% 40% 30%;
   align-items: center;
}

#site-title {
   color: #FFF;
   text-align: center;
   text-decoration: underline;
   font-size: +3rem;
}

header img {
   width: 100%;
   max-width: 10rem;
   padding-left: 20%;
}

header svg {
   width: auto;
   max-height: 15rem;
}

header > ul {
   list-style-type: none;
   margin: 0px;
   padding: 0;
   padding-bottom: 1rem;
   display: flex;
   justify-content: space-evenly;
}

header  li {
   display: inline;
   text-align: center;
   float: left;
   flex-grow: 1;
   margin-left: 1rem;
   margin-right: 1rem;
}

header a,
header a:visited {
   display: block;
   border: 2px solid white;
   background-color: #FFF;
   color: #000;
   text-decoration: none;
   width: 100%
}

header a:hover,
header a:focus {
   background-color: #f39f00;
}

/* main content area setup */
.page-container {
   width: 100%;
}

/* setup for text-based pages (e.g. articles/essays) */

.main-container-text {
   width: 50%;
   margin: auto;
   max-width: 70rem;
}

main.text {
   width: 100%;
   max-width: 35rem;
}

.annotated {
   position: relative;
   overflow: visible;
}

main.text section {
   position: relative;
   margin-top: 2rem;
   margin-bottom: 2rem;
}

/* setup for block-based pages (e.g. gallery/landing-page) */

.main-container-blocks {
   width: 80%;
   margin: auto;
   max-width: 80rem;
}

main.blocks {
   width: 100%;
   display: grid;
   grid-gap: 2rem;
   grid-template-columns: auto auto auto;
   margin-top: 2rem;
   margin-bottom: 2rem;
}


/* main content text styling */

section > h1,
section > h2,
section > h3,
section > h4,
section > h5,
section > h6 {
   font-weight: bold;
   text-decoration: underline;
}

.annotated > aside {
   position: absolute;
   top: 0;
   right: 0;
   width: 25%;
   box-shadow: 3px 3px #4bbbc3;
   padding: 0.5rem;
   margin-right: -35%;
   overflow: auto;
}

section img.block {
   width: 100%;
   height: auto;
}

.annotated > img.left {
   position: absolute;
   top: 0;
   left: 0;
   width: 25%;
   height: auto;
   margin-left: -35%;
   overflow: auto;
}

/* footer */

a.topbutton {
   position: fixed;
   bottom: 0;
   left: 0;
   margin: 1rem;
   border: 2px solid #FFF;
   box-shadow: 3px 3px #4bbbc3;
   padding: 0.2rem;
   background-color: #FFF;
   color: #4bbbc3;
   text-decoration: underline;
}

footer a:hover {
   background-color: #f39f00;
}

footer a:visited {
   color: #02d16f;
}
